/* ---Google Font Roboto--- */
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---style for cover introduction--- */
.cover{
    background-color: #56042C;
    border-radius: 30px;
    width: 82.5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    margin-bottom: 130px;
}

.introduction{
    margin: 111px 24px 126px 106px;
}

.introduction h1{
    margin: 0;
    color: white;
    font-size: 100px;
    font-weight: bold;
}

.introduction p{
    font-size: 18px;
    color: white;
    margin-top: 30px;
    margin-bottom: 60px;
}

.introduction a{
    font-size: 22px;
    font-weight: 600;
    color: black;
    padding: 15px 25px;
    border-radius: 7px;
    background-color: #FEC310;
}

.introduction .fa-greater-than{
    margin-left: 10px;
}
/* ---------------------------- */

/* ---style for cover photo--- */
.cover .photo img{
    width: 90%;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
}
/* ---------------------------- */

/* <!-- the menu-nd-blog part starts here --> */

.menu-nd-blog{
    display: grid;
    grid-template-areas: "a a";
    gap: 24px;
    width: 82.5%;
}

/* ---style for menus--- */
.menus{
    display: grid;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    height: 252px;
    width: 252px;
    background-color: #56042C;
}

.menu{
    background-color: white;
    width: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu p a{
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.menu.red{
    background-color: #FEC310;
}

/* ---style for blogs--- */
.menu-nd-blog .blogs .blog .photo
,.matches .match .flag
{
    margin: 0;
    padding: 0;
}

.menu-nd-blog .blogs .blog .photo img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.menu-nd-blog .blogs,.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.menu-nd-blog .blogs .blog,
.matches .match
{
    border: 3px solid rgba(128, 128, 128, 0.199);
    border-radius: 15px;
}

.description{
    padding: 22px;
}

.description button{
    font-size: 21px;
    padding: 5px 20px;
}

.description h2{
    font-size: 21px;
    font-weight: 700;
}

.description .info{
    display: flex;
}

.description .info .time,.comment{
    margin-left: 10px;
}

.description .info .fa-comment-dots{
    margin-left: 40px;
}

.info{
    font-size: 18px;
    color: gray;
}

.view-all{
    display: none;
}

/* -----style for page-2----- */
.matches .match .flag img{
    width: 25%;
}

.matches .match .flag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.matches .match .flag span{
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
}

.matches .match{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
/* ------------------------------------- */

/* ---style for footer--- */
footer{
    margin-top: 130px;
    background-color: #56042C;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer .comp-name h3{
    margin-top: 100px;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
}

footer hr{
    width: 82.5%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}

footer .footer-menu{
    width: 56%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin-bottom: 50px;
}

.social-icons{
    margin-bottom: 100px;
    font-size: 40px;
}

.icon{
    margin: 0 12px;
}
/* ------------------------------------- */

/*------media query for 14-Inch Screen-----*/
@media screen and (min-width:834px) and (max-width:1344px) {
    /* ---style for cover introduction--- */
.cover{
    width: 82.5%;
    margin-top: 35px;
    margin-bottom: 91px;
}

.introduction{
    margin: 78px 17px 88px 74px;
}

.introduction h1{
    font-size: 70px;
}

.introduction p{
    font-size: 12.5px;
    margin-top: 21px;
    margin-bottom: 42px;
}

.introduction a{
    font-size: 15.5px;
    padding: 10.5px 17.5px;
    border-radius: 5px;
}

.introduction .fa-greater-than{
    margin-left: 7px;
}
/* ---------------------------- */

/* <!-- the menu-nd-blog part starts here --> */

/* ---style for menus--- */
.menus{
    gap: 21px;
    padding: 21px;
    height: 212px;
    width: 212px;
}

.menu p a{
    font-size: 14px;
}

/* ---style for blogs--- */
.description{
    padding: 15.5px;
}

.description button{
    font-size: 15px;
    padding: 3.5px 14px;
}

.description h2{
    font-size: 13px;
}

.description .info .time,.comment{
    margin-left: 7px;
}

.description .info .fa-comment-dots{
    margin-left: 18px;
}

.info{
    font-size: 13px;
}
/* ------------------------------------ */

/* -----style for page-2----- */
.matches .match .flag span{
    font-size: 21px;
    margin: 14px;
}

.matches .match h2{
    display: flex;
    justify-content: center;
}

.matches .match p{
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.matches .match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 21px;
}
/* ------------------------------------- */

/* ---style for footer--- */
footer{
    margin-top: 91px;
}

footer .comp-name h3{
    margin-top: 70px;
    font-size: 31.5px;
    margin-bottom: 35px;
}

footer hr{
    width: 82.5%;
    margin-bottom: 35px;
}

footer .footer-menu{
    margin-bottom: 35px;
}

.social-icons{
    margin-bottom: 70px;
    font-size: 28px;
}

.icon{
    margin: 0 8px;
}
/* ------------------------------------ */

}
/* ------------------------------ */

/*------media query for tablet-----*/
@media screen and (min-width:375px) and (max-width:834px) {
    .cover{
        width: 88%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .introduction{
        margin: 61px 2px 61px 76px;
    }
    
    .introduction h1{
        margin: 0;
        color: white;
        font-size: 45px;
        font-weight: bold;
    }
    
    .introduction p{
        font-size: 10px;
        color: white;
        margin-bottom: 40px;
    }

    .menu-nd-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 88%;
    }

    .menus{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 22px;
        padding: 0px;
        border-radius: 10px;
        height: fit-content;
        width: 100%;
        background-color: #56042c00;
    }

    .menu{
        background-color: white;
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 3px rgba(141, 137, 137, 0.13);
    }

    .menu-nd-blog .blogs,.matches{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }

    .menu-nd-blog .blogs .blog.hide-on-tab{
        display: none;
    }

    .view-all{
        display: inline-block;
        margin-top: 50px;
        margin: 70px;
    }

    .view-all a{
        font-size: 20px;
        font-weight: 600;
        color: black;
        padding: 10px 40px;
        border-radius: 7px;
        background-color: #FEC310;
    }

    footer{
        margin-top: 0;
    }

    footer hr{
        width: 88%;
    }

    footer .footer-menu{
        width: 56%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-items: center;
        margin-bottom: 50px;
    }

    footer .footer-menu .goal-app{
        grid-column-start: 2;
        grid-column-end: 3;
    }


}
/* ------------------------------------- */


/*------media query for mobile-----*/
@media screen and (max-width:375px) {
    .cover{
        width: 89%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 44px;
        margin-bottom: 24px;
    }

    .introduction{
        margin: 0;
        margin-top: 10px;
        padding: 28px;
        justify-content: center;
        text-align: center;
        
    }
    
    .introduction h1{
        margin: 0;
        margin-bottom: 10px;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    
    .introduction p{
        font-size: 10px;
        color: white;
        margin-bottom: 40px;
    }

    .menu-nd-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 88%;
    }

    .menus{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 22px;
        padding: 0px;
        border-radius: 10px;
        height: fit-content;
        width: 100%;
        background-color: #56042c00;
    }

    .menu{
        width: 70%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 3px rgba(141, 137, 137, 0.13);
    }

    .menu-nd-blog .blogs,.matches{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
    }

    .blog.hide-on-tab{
        display: inline;
    }

    .view-all{
        display: none;
    }

    footer{
        margin-top: 24px;
    }

    footer hr{
        width: 89%;
    }

    footer .footer-menu{
        width: 56%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-bottom: 50px;
    }

}