/* ---Google Font Roboto--- */
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover{
    background-color: #56042C;
    border-radius: 30px;
    width: 82.5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
}

/* ---style for cover introduction--- */
.introduction{
    margin: 111px 24px 111px 106px;
}

.introduction h1{
    margin: 0;
    color: white;
    font-size: 85px;
    font-weight: bold;
}

.introduction p{
    font-size: 18px;
    color: white;
    margin-bottom: 40px;
}

.introduction a{
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #FEC310;
}
/* ---------------------------- */

/* ---style for cover photo--- */
.cover .photo img{
    width: 85%;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
/* ---------------------------- */

